# Production App Credentials
DROPBOX_APP_KEY=
ONEDRIVE_CLIENT_ID=
ONEDRIVE_AUTHORITY=https://
REMOTELYSAVE_WEBSITE=http://127.0.0.1:46683
REMOTELYSAVE_CLIENT_ID=cli-xxx

BOX_CLIENT_ID=
BOX_CLIENT_SECRET=
PCLOUD_CLIENT_ID=
PCLOUD_CLIENT_SECRET=

KOOFR_CLIENT_ID=
KOOFR_CLIENT_SECRET=

# Integration Test Credentials (local only)

# S3 Test
TEST_S3_ENDPOINT=
TEST_S3_REGION=
TEST_S3_ACCESS_KEY_ID=
TEST_S3_SECRET_ACCESS_KEY=
TEST_S3_BUCKET_NAME=
TEST_S3_REMOTE_PREFIX=

# Dropbox Test
TEST_DROPBOX_TOKEN=
TEST_DROPBOX_REMOTE_BASE_DIR=

# Webdav Test
TEST_WEBDAV_ADDRESS=
TEST_WEBDAV_USERNAME=
TEST_WEBDAV_PASSWORD=

# Internxt Test
TEST_INTERNXT_EMAIL=
TEST_INTERNXT_PASSWORD=
TEST_INTERNXT_REMOTE_BASE_DIR=

# pCloud Test
TEST_PCLOUD_TOKEN=
TEST_PCLOUD_HOSTNAME=api.pcloud.com
TEST_PCLOUD_LOCATION_ID=1 # 1 for United States (api.pcloud.com), 2 for Europe (eapi.pcloud.com)
TEST_PCLOUD_REMOTE_BASE_DIR=rs-integration-test
