# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json
pnpm-lock.yaml

# build
main.js
*.js.map

# pro (local reference only, not for version control)
pro/
local_pro_reference/

# obsidian
data.json

# debug
logs.txt

# hidden files
.*
